html,body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.header{
    background-color: #1F2937;
    font-size: 18px;
    color:#E5E7EB;
}

.information{
    font-size: 18px;
    color:#1F2937;
}

.quotes{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action{
    background-color: #3882F6;
    font-size: 18px;
    color:#E5E7EB;
}

.footer{
    background-color: #1F2937;
    font-size: 18px;
    color:#E5E7EB;
}