
/* (*) is a univeral selector which has no specificty value */
* {
    background-color: beige;
}

/*Any h1 heading will be darkgreen*/
h1 {
    color:darkgreen;
}

/*Any heading using h3 will be green*/
h3{
    color:rgb(51, 83, 3);
}

/*All text within a paragraph will be green*/
p {
    color:green;
}

div{
    color: rgb(0, 133, 99);
}

/*links will be blue and bold*/
a {
    color:rgb(43, 43, 248);
    font-weight:bolder;
}

/*The following are page2 CSS tests:*/
.test-one {
    background-color: indianred;
    text-align:left;
    color:white;
}

.test-two {
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:brown;
    background-color: white;
}

/*Makes the sentence in a specific paragraph red*/
p.test-three{
    color:red;
}

/*Makes the background gray and text pink*/
.test-four{
    background-color: gray;
    color:hotpink;
}

img {
    height: 200px;
    width: 200px;
}