
/* (*) is a univeral selector which has no specificty value */
* {
    background-color: beige;
}

/* ******The following are site wide****** */
/*Any h1 heading will be darkgreen*/
h1 {
    color:darkgreen;
}

/*Any heading using h3 will be green*/
h3{
    color:rgb(51, 83, 3);
}

/*All text within a paragraph will be green*/
p {
    color:green;
}

p.note{
    font-weight: bolder;
}

p.white{
    background-color: transparent; /* "none" bg-colour*/
    color:white;
}

div{
    color: rgb(0, 133, 99);
}

/*links will be blue and bold*/
a {
    color:rgb(43, 43, 248);
    font-weight:bolder;
}
/* ********************************* */

/* ******The following are page2 CSS tests****** */
.test-one {
    background-color: indianred;
    text-align:left;
    color:white;
}

.test-two {
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color:brown;
    background-color: white;
}

/*Makes the sentence in a specific paragraph red*/
p.test-three{
    color:red;
}

/*Makes the background gray and text pink*/
.test-four{
    background-color: gray;
    color:hotpink;
}

img {
    height: 200px;
    width: 200px;
}
/* ********************************* */

/* ******The following are page3 CSS tests****** */
.box-test{
    border: 5px solid blue;
    padding: 50px;
    margin: 5px;
    background-color: burlywood;
    color:blue;
    font-weight: bolder;
    font-size: 30px;
}

.box-test-two{
    border:5px solid crimson;
    border-bottom-color: gold;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 15px;
    margin: 5px;
    background-color: ghostwhite;
    color: black;
    font-size: 20px;
}

.page3-paragraph{
    color: black;
    font-size: 22px;
    background-color: ghostwhite;
}

/* ********************************* */


/* ******The following are page4 CSS tests****** */

.red-box{
    background-color: rgba(223, 41, 41, 0.842);
    width:300px;
    height:300px;
    margin:30px;
    padding:30px;
    color:white;
}

.blue-box{
    background-color: rgba(47, 47, 240, 0.897);
    width:200px;
    height:200px;
    margin:20px;
    padding:30px;
    color:white;
}

.green-box{
    background-color: rgba(80, 233, 80, 0.719);
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;   
}

.green-box.block{
    display: block;
}

.orange-box{
    background-color: rgba(255, 166, 0, 0.719);
    display: inline;
    width: 50px;
    height: 50px;
    border: .5px solid black;  
    margin:2px; 
}

.orange-box.block{
    display: block;
}

.orange-box.inline-block{
    display: inline-block;
}



.first-span{
    background-color: rgb(241, 149, 149);
    color:rgba(47, 47, 240, 0.897);
    font-size: 20px;
}

.second-span{
    background-color: rgba(170, 86, 86, 0.527);
    color:rgb(35, 35, 116);
    font-size: 15px;
}
/* ********************************* */